$mobileBreakpoint: 768px;
$desktopHorizontalMargin: 15%;
$mobileHorizontalMargin: 2%;

$mobileHeaderHeight: 48px;
$desktopHeaderHeight: 72px;

$headingFont: 'Bitter', sans-serif;
$bodyFont: 'Muli', serif;
$h1: 2em;
$h1: 2em;
$h2: 1.5em;
$h3: 1.3em;
$h4: 1em;
$h5: 0.8em;
$h6: 0.7em;

$white: #FFFFFF;
$orange: #FE733C;
$grey: #C0C0C0;
$black: #1E1E1E;
$color-facebook: #3b5998;
$color-youtube: #cd201f;
$color-soundcloud: #FE733C;
$color-github: #000000;
$color-gmail: #C71610;
$color-pdf: #F91D0A;

$animationDuration: 0.3s;
$animationType: ease-in-out;