@import 'globals';

.content {
  margin: calc(1.4 * #{$desktopHeaderHeight}) $desktopHorizontalMargin 0 $desktopHorizontalMargin;
  padding: 0 10%;
  text-indent: 1em;
  text-align: justify;
  font-family: $bodyFont;
  transition: all $animationDuration $animationType;

  @media only screen and (max-width: $mobileBreakpoint) {
    margin-top: calc(1.4 * #{$mobileHeaderHeight});
    margin-left: $mobileHorizontalMargin;
    margin-right: $mobileHorizontalMargin;
  }

  @media only screen and (min-width: $mobileBreakpoint + 1) and (max-width: 1280px) {
    padding: 0; 
  }
}

.post {
  padding: 40px 0;
  text-indent: 0;

  &__date {
    color: $grey;
    font-size: $h5;
  }

  &__title {
    margin-top: 5px;
    margin-bottom: 25px;
    font-family: $headingFont;
  }

  p {
    text-indent: 2em;
    line-height: 1.5em;
  }

  p:last-of-type {
    margin-bottom: 40px;
  }
}