@import 'globals';

.fa-facebook {
  color: $color-facebook;
}

.fa-youtube {
  color: $color-youtube;
}

.fa-soundcloud {
  color: $color-soundcloud;
}

.fa-envelope-o {
  color: $color-gmail;
}

.fa-github {
  color: $color-github;
}

.fa-file-pdf-o {
  color: $color-pdf;
}

