@import 'reset';
@import 'globals';
@import 'header';
@import 'menu';
@import 'slidingMenu';
@import 'posts';
@import 'player';
@import 'socialIcons';
@import 'sidebar';

body {
  background: $white;
}

.content {
  margin: calc(1.4 * #{$desktopHeaderHeight}) $desktopHorizontalMargin 0 $desktopHorizontalMargin;
  padding: 0 10%;
  text-indent: 1em;
  text-align: justify;
  font-family: $bodyFont;
  transition: all $animationDuration $animationType;

  @media only screen and (max-width: $mobileBreakpoint) {
    margin-top: calc(1.4 * #{$mobileHeaderHeight});
    margin-left: $mobileHorizontalMargin;
    margin-right: $mobileHorizontalMargin;
  }

  @media only screen and (min-width: $mobileBreakpoint + 1) and (max-width: 1280px) {
    padding: 0; 
  }
}
